.DS_Store
.venv
*wandb*
*pytest*
*pycache*
*.idea*
*/mlruns*
*/outputs*

# MLflow & Hydra
mlruns/
outputs/
multirun/

# W&B
wandb/
artifacts/

# Data
data/

# Devcontainer
.devcontainer/.env

# Model outputs
random_forest_dir/
model_export/